 .u-section-1 {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 243, 217, 1), rgba(255, 243, 217, 1));
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 52px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  --radius: 50px;
  width: 1314px;
  margin: 47px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  --radius: 40px;
  min-height: 526px;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 229, 194, 1), rgba(249, 229, 194, 1));
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 43px 34px 0;
}

.u-section-1 .u-image-1 {
  object-position: 28.96% 50%;
  width: 375px;
  height: 213px;
  --radius: 20px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 20px;
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 900;
  background-image: none;
  margin: 26px auto 0;
  padding: 13px 43px 14px 42px;
}

.u-section-1 .u-layout-cell-2 {
  --radius: 40px;
  min-height: 526px;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 229, 194, 1), rgba(249, 229, 194, 1));
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 321px;
  margin: 44px auto 0;
}

.u-section-1 .u-image-2 {
  object-position: 28.96% 50%;
  width: 375px;
  height: 213px;
  --radius: 20px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 20px;
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 900;
  background-image: none;
  margin: 26px auto 0;
  padding: 13px 43px 14px 42px;
}

.u-section-1 .u-layout-cell-3 {
  --radius: 40px;
  min-height: 526px;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 229, 194, 1), rgba(249, 229, 194, 1));
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 321px;
  margin: 42px auto 0;
}

.u-section-1 .u-image-3 {
  object-position: 28.96% 50%;
  width: 375px;
  height: 213px;
  --radius: 20px;
  margin: 27px auto 0;
}

.u-section-1 .u-btn-3 {
  --radius: 20px;
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 900;
  background-image: none;
  margin: 26px auto 0;
  padding: 13px 43px 14px 42px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-text-2 {
    width: 281px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
    width: 281px;
    height: 164px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-1 .u-text-3 {
    width: 281px;
  }

  .u-section-1 .u-image-2 {
    width: 281px;
    height: 164px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 376px;
  }

  .u-section-1 .u-text-4 {
    width: 288px;
  }

  .u-section-1 .u-image-3 {
    width: 288px;
    height: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 54px;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 36px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-image-1 {
    width: 196px;
    height: 122px;
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    padding: 3px 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 35px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-image-2 {
    width: 197px;
    height: 122px;
  }

  .u-section-1 .u-btn-2 {
    padding: 10px 22px 10px 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 35px;
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 196px;
    height: 122px;
  }

  .u-section-1 .u-btn-3 {
    padding: 7px 26px 8px 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-1 .u-text-2 {
    width: 209px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 258px;
    height: 128px;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    padding: 9px 23px 9px 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-image-2 {
    width: 278px;
    height: 136px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 328px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-image-3 {
    width: 264px;
    height: 150px;
    margin-top: 22px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 23px;
  }
}

.u-block-3e8e-53,
.u-block-3e8e-53:before,
.u-block-3e8e-53 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.03) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.03) !important;
}

.u-block-3e8e-56,
.u-block-3e8e-56:before,
.u-block-3e8e-56 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-59,
.u-block-3e8e-59:before,
.u-block-3e8e-59 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-46:not([data-block-selected]):not([data-cell-selected]),
.u-block-3e8e-46:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3e8e-46:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-46.u-block-3e8e-46.u-block-3e8e-46:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.03) !important;
}

.u-block-3e8e-46.u-block-3e8e-46.u-block-3e8e-46.hover {
  transform: scale(1.03) !important;
}

.u-block-3e8e-48:not([data-block-selected]):not([data-cell-selected]),
.u-block-3e8e-48:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3e8e-48:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-48.u-block-3e8e-48.u-block-3e8e-48:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.03) !important;
}

.u-block-3e8e-48.u-block-3e8e-48.u-block-3e8e-48.hover {
  transform: scale(1.03) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-68,
.u-block-3e8e-68:before,
.u-block-3e8e-68 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3e8e-73,
.u-block-3e8e-73:before,
.u-block-3e8e-73 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-2,
.u-section-1 .u-layout-cell-2:before,
.u-section-1 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.03) !important;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.03) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-3,
.u-section-1 .u-layout-cell-3:before,
.u-section-1 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: scale(1.03) !important;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: scale(1.03) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}